.pageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageCard h1 {
  font-size: 56px;
  text-align: center;
}
.cardContent p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 32px;
}
.cardContent{
  max-width: 920px;
}
